<!--
@Author: djvulee
@Date:   2016-07-24T11:18:33+08:00
@Last modified by:   djvulee
@Last modified time: 2016-07-27T13:44:45+08:00
-->



<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spark History Stats</title>
    <script src="static/js/amcharts.js" type="text/javascript"></script>
    <script src="static/js/serial.js" type="text/javascript"></script>
    <script src="static/js/pie.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/bootstrap.min.js">
    <link rel="shortcut icon" href="{{ url_for('static', filename='spark.ico') }}">
</head>

<body>
    <td style="vertical-align: middle;">
        <h2 style="text-align: center;">
            Spark应用程序统计分析结果
        </h2>
    </td>
    <br></br>
    <form class="form-horizontal" method="POST" style="vertical-align: middle;">
        <label for="exampleInputName2">起始日期</label>
        <input type="date" max='2020-12-30' min="2016-07-21" class="form-control" name="start_date" id="start_date_id">
        <label for="exampleInputEmail2">截止日期</label>
        <input type="date" max='2020-12-30' min="2016-07-21" class="form-control" name="end_date" id="end_date_id">
        <button type="submit" width="400">查  询</button>
    </form>

    <br></br>
    <div id="chartdivAllApps" style="width: 98%; height: 350px; float: left;"></div>
    <br></br>
    <div id="chartdivFailedApps" style="width: 98%; height: 350px; float: left;"></div>
    <br></br>
    <div id="chartdivCPU" style="width: 48%; height: 450px; float: left;"></div>
    <br></br>
    <div id="chartdivMEM" style="width: 48%; height: 450px; float: left;"></div>
    <br></br>
    <div id="chartdivErr" style="width: 98%; height: 450px; float: left;"></div>
    <br></br>
    <div id="chartdivUsers" style="width: 98%; height: 450px; float: left;"></div>
    <br></br>
    <div id="chartdivRunningTime" style="width: 48%; height: 450px; float: left;"></div>
    <br></br>
    <div id="chartdivJobsCnt" style="width: 48%; height: 450px; float: left;"></div>

    <script>
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();
        if(dd<10){
            dd='0'+dd
        }
        if(mm<10){
            mm='0'+mm
        }
        var today_str = yyyy+'-'+mm+'-'+dd;
        // console.log(today_str);
        document.getElementById("start_date_id").setAttribute("max", today_str);
        document.getElementById("end_date_id").setAttribute("max", today_str);

        var s_date = '{{ start_date|safe }}';
        var e_date = '{{ end_date|safe }}';
        // console.log(s_date);
        // console.log(e_date);
        document.getElementById("start_date_id").value = s_date;
        document.getElementById("end_date_id").value = e_date;

        var chart1Data = {{ all_apps|safe }};
        // console.log(chart1Data);
        var chartLuigiData = {{ luigi_apps|safe }};
        // console.log(chartLuigiData);
        var userFailedData = {{ user_failed|safe }};
        // console.log(userFailedData);
        var timeFreqData = {{ time_freq|safe }};
        // console.log(timeFreqData);
        var jobsCntData = {{ jobs_freq|safe }};
        // console.log(jobsCntData);
        var exceptionData = {{ exception_types|safe }};
        // console.log(exceptionData);
        var cpuData = {{ cpu_resource|safe }};
        console.log(cpuData);
        var memData = {{ mem_resource|safe }};
        console.log(memData);

        AmCharts.ready(function() {
            var chart1 = new AmCharts.AmSerialChart();
            chart1.dataProvider = chart1Data;
            chart1.categoryField = "date";

            var categoryAxis = chart1.categoryAxis;
            categoryAxis.parseDates = true;
            categoryAxis.equalSpacing = true;
            categoryAxis.axisAlpha = 0;

            var valueAxis1 = new AmCharts.ValueAxis();
            valueAxis1.dashLength = 5;
            chart1.addValueAxis(valueAxis1);

            var graph1 = new AmCharts.AmGraph();
            graph1.valueField = "total";
            graph1.bullet = "round";
            graph1.bulletSize = 6;
            graph1.type = "line";
            graph1.title = "总的提交次数";
            // graph1.type = "column";
            // graph1.valueField = "total";
            // graph1.fillAlphas = 0.5;
            chart1.addGraph(graph1);

            var graph2 = new AmCharts.AmGraph();
            graph2.valueField = "failed";
            graph2.bullet = "column";
            graph2.bulletSize = 6;
            graph2.type = "line";
            graph2.title = "总的失败次数";
            // graph2.type = "column";
            // graph2.valueField = "failed";
            // graph2.fillAlphas = 0.5;
            chart1.addGraph(graph2);


            var chartCursor = new AmCharts.ChartCursor();
            chartCursor.zoomable = false;
            chart1.addChartCursor(chartCursor);

            chart1.addTitle(text = "所有应用程序按日分布", size = 20);
            var legend = new AmCharts.AmLegend();
            // legend.data = [{title:"first", color:"#CC0000"}, {title:"second", color:"#00CC00"}]
            // legend.date = [{title: "Total", title: "Failed"}]
            chart1.addLegend(legend);
            chart1.write("chartdivAllApps");


            // luigi chart
            var chartLuigi = new AmCharts.AmSerialChart();
            chartLuigi.dataProvider = chartLuigiData;
            chartLuigi.categoryField = "date";
            categoryAxis.axisAlpha = 0;

            var categoryAxisLuigi = chartLuigi.categoryAxis;
            categoryAxisLuigi.parseDates = true;
            categoryAxisLuigi.equalSpacing = true;

            var valueAxisLuigi = new AmCharts.ValueAxis();
            valueAxisLuigi.dashLength = 5;
            chartLuigi.addValueAxis(valueAxisLuigi);

            var graphAllLuigi = new AmCharts.AmGraph();
            graphAllLuigi.valueField = "total";
            graphAllLuigi.bullet = "round";
            graphAllLuigi.bulletSize = 6;
            graphAllLuigi.type = "line";
            graphAllLuigi.title = "总的提交次数";
            chartLuigi.addGraph(graphAllLuigi);

            var graphFailLuigi = new AmCharts.AmGraph();
            graphFailLuigi.valueField = "failed";
            graphFailLuigi.bullet = "round";
            graphFailLuigi.bulletSize = 6;
            graphFailLuigi.type = "line";
            graphFailLuigi.title = "总的失败次数";
            chartLuigi.addGraph(graphFailLuigi);

            var chartCursorLuigi = new AmCharts.ChartCursor();
            chartCursorLuigi.zoomable = false;
            chartLuigi.addChartCursor(chartCursorLuigi);

            chartLuigi.addTitle(text = "Luigi应用程序按日分布", size = 20);
            var legendLuigi = new AmCharts.AmLegend();
            chartLuigi.addLegend(legendLuigi);
            chartLuigi.write("chartdivFailedApps");


            // pie chart
            var chartPie = new AmCharts.AmPieChart();

            chartPie.dataProvider = userFailedData;
            chartPie.titleField = "name";
            chartPie.valueField = "failed";
            chartPie.sequencedAnimation = true;
            chartPie.startEffect = "elastic";
            chartPie.innerRadius = "20%";
            chartPie.startDuration = 1;
            chartPie.labelText = "[[title]]"
            chartPie.hideLabelsPercent = 4;
            chartPie.labelRadius = 10;

            chartPie.addTitle(text = "查询日期内按用户分布(失败的Apps)", size = 18);
            chartPie.write("chartdivUsers");


            // running freq chart
            var chartFreq = new AmCharts.AmPieChart();

            chartFreq.dataProvider = timeFreqData;
            chartFreq.titleField = "time_span";
            chartFreq.valueField = "time_value";
            chartFreq.sequencedAnimation = true;
            chartFreq.startEffect = "elastic";
            chartFreq.innerRadius = "20%";
            chartFreq.startDuration = 1;
            chartFreq.labelText = "[[title]]"
            chartFreq.hideLabelsPercent = 4;
            chartFreq.labelRadius = 10;

            chartFreq.addTitle(text = "查询日期内按运行时间分布(成功的Apps)", size = 18);
            chartFreq.write("chartdivRunningTime");

            // running jobs cnt chart
            var chartJobs = new AmCharts.AmPieChart();

            chartJobs.dataProvider = jobsCntData;
            chartJobs.titleField = "jobs_cnt_head";
            chartJobs.valueField = "jobs_cnt_val";
            chartJobs.sequencedAnimation = true;
            chartJobs.startEffect = "elastic";
            chartJobs.innerRadius = "20%";
            chartJobs.startDuration = 1;
            chartJobs.labelText = "[[title]]"
            chartJobs.hideLabelsPercent = 4;
            chartJobs.labelRadius = 10;

            chartJobs.addTitle(text = "查询日期内按Job数目分布(成功的Apps)", size = 18);
            chartJobs.write("chartdivJobsCnt");

            // Exception chart
            var chartException = new AmCharts.AmPieChart();

            chartException.dataProvider = exceptionData;
            chartException.titleField = "err_type";
            chartException.valueField = "err_cnt";
            chartException.sequencedAnimation = true;
            chartException.startEffect = "elastic";
            chartException.innerRadius = "20%";
            chartException.startDuration = 1;
            chartException.labelText = "[[title]]"
            chartException.hideLabelsPercent = 4;
            chartException.labelRadius = 10;

            chartException.addTitle(text = "查询日期内按异常分布(失败的Apps)", size = 18);
            chartException.write("chartdivErr");

            // CPU chart
            var chartCPU = new AmCharts.AmPieChart();

            chartCPU.dataProvider = cpuData;
            chartCPU.titleField = "app_type";
            chartCPU.valueField = "core_cnt";
            chartCPU.sequencedAnimation = true;
            chartCPU.startEffect = "elastic";
            chartCPU.innerRadius = "20%";
            chartCPU.startDuration = 1;
            chartCPU.labelText = "[[title]]"
            chartCPU.hideLabelsPercent = 4;
            chartCPU.labelRadius = 10;

            chartCPU.addTitle(text = "查询日期内CPU使用分布(core*Hour)", size = 18);
            chartCPU.write("chartdivCPU");


            // MEM chart
            var chartMEM = new AmCharts.AmPieChart();

            chartMEM.dataProvider = memData;
            chartMEM.titleField = "app_type";
            chartMEM.valueField = "mem_cnt";
            chartMEM.sequencedAnimation = true;
            chartMEM.startEffect = "elastic";
            chartMEM.innerRadius = "20%";
            chartMEM.startDuration = 1;
            chartMEM.labelText = "[[title]]"
            chartMEM.hideLabelsPercent = 4;
            chartMEM.labelRadius = 10;

            chartMEM.addTitle(text = "查询日期内MEM使用分布(GB*Hour)", size = 18);
            chartMEM.write("chartdivMEM");


            //
            /*
            var chartFreq = new AmCharts.AmSerialChart();
            chartFreq.dataProvider = timeFreqData;
            chartFreq.categoryField = "time_span";

            var graph1 = new AmCharts.AmGraph();
            graph1.type = "column";
            graph1.valueField = "time_value";
            graph1.fillAlphas = 0.5;
            chartFreq.addGraph(graph1);

            var chartCursor = new AmCharts.ChartCursor();
            chartCursor.zoomable = false;
            chartFreq.addChartCursor(chartCursor);

            chartFreq.addTitle(text = "应用程序的时间分布", size = 20);
            var legend = new AmCharts.AmLegend();
            chartFreq.addLegend(legend);
            chartFreq.write("chartdivRunningTime");
            */

        });
    </script>
</body>

</html>
